<h2>Search Title</h2>

<form action="/books" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
        <button type="submit">Search</button>
    </div>

    <div>
        <label>Published After</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishAfter %>">
        <button type="submit">Search</button>
    </div>

    <div>
        <label>Published Before</label>
        <input type="date" name="publishedBeforer" value="<%= searchOptions.publishBeforer %>">
        <button type="submit">Search</button>
    </div>
</form>

<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %>">
        </a>
    <% }) %>
</div>